body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color:$primary-color-text;
    font-weight:bold;
    max-width: 1920px;
}
header{
    background: $primary-color-bg;
    padding: 2.5rem 0;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.container{
    // width: 62.5%;
    // container用px 設定
    max-width: 1200px;
    margin: 0 auto;
    // background: green;
}
.logo{
    width: 72%;
    // background: #000;
    img{
        width: 80px;
        height: 48.57px;
        margin-left: 88px;
    }
}
.logo-menu{
    width: 28%;
    justify-content: space-around;
    align-items: center;
    li a{
        color: $secondary-color-text;
        // background:pink;
        display: block;
        text-decoration: none;
        // 增加點擊範圍
        padding: 1.5rem;
    }
    li a:hover{
        border-bottom: 0.025rem solid white;
    }
}

// 常用工具
.df{
    display: flex;
}

@media (max-width:992px){
    .logo {
        width: 56%;
    }
    .logo-menu{
        width: 44%;
    }
}

@media (max-width:767px){
    .logo {
        width: 3rem;
        margin: 0 auto;
        img {
            width: 3rem;
            height: 29.14px;
            margin-left: 0;
        }
    }
    .logo-menu{
        display: none;
    }
}
