// 命名：功能-樣式
$primary-color-text:#650350;
$primary-color-bg:#AA0601;
$secondary-color-text:white;
$secondary-color-bg:#AA06010D;
$third-color-text:black;
$third-color-bg:#fff;
$forth-color-text:#707070;
$fourth-color-bg:rgb(85, 76, 76);
$button-color:black;
$button-mousein:#650300;
